<!DOCTYPE html>
<html>

<head>
	<link id=link>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet" />

	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
		integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="./vender/css/style.css" rel="stylesheet" />

	<title>新會員註冊</title>
</head>

<body>
	<section class="all" id="main">
		<header>
			<section-title></section-title>
		</header>
		<main>
			<section class="content main">
				<section class="content">
					<!-- 以上皆固定 -->
					<form class="apply">
						<main class="applymain">
							<div class="row">
								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<p class="bigNum">01</h5>
											<p class="card-text ">地點設定</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<p class="bigNum">02</h5>
											<p class="card-text">表單填寫</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<p class="bigNum">03</h5>
											<p class="card-text">上傳附件</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="card">
										<div class="card-body">
											<p class="bigNum">04</h5>
											<p class="card-text">確認提交</p>
										</div>
									</div>
								</div>
							</div>
						</main>
						<!-- 以上皆固定 -->
						<!-- style="display:none" -->
						<section class="ApplyMain mainFirst">
							<section class=" main">
								<div class="row g-2">
									<div class="col-md address">
										<div class="addressA">
											<div class="formTitle">地段</div>
											<div class="form-floating">
												<select class="form-select" id="floatingSelectGrid">
													<option selected disabled>--請選擇地段--</option>
													<option v-for="(list,key) in sectList[0].DATA" :value="list.CODE">
														{{list.SECTNAME}}</option>
												</select>
												<!-- <label for="floatingSelectGrid">Works with selects</label> -->
											</div>
										</div>
									</div>
									<div class="col-md address">
										<div class="addressA">
											<div class="formTitle">地號</div>
											<div class="SearchBar">
												<input class="form-control" type="search" id="floatingInputGrid"
													placeholder="請輸入地號">
												<span class="input-group-append">
												</span>
											</div>
										</div>
									</div>
									<div class="inputSearch">
										<div class="form-box">
											<input class="form-check-input" type="checkbox" id="check1" name="option1"
												value="something">
											<label class="form-check-label">是否為部分</label>
										</div>
										<a><button type="button" class="btn btn-primary"
												@click="addApplyList">加入申請</button></a>
									</div>
								</div>
							</section>
							<div class="tip" id="ApplyBegin">
								<span>地號加入的項目之基地範建築線無法完全涵蓋時使用「部分」加入。<br>
									連續加入以「~」連接起迄區間，分組「隔開 」、配合「SHIFT+TAB」、「TAB」鍵速切焦點。
								</span>
								<div class="container">
									<div class="sectionLeft">
										<ul>
											<li>連續子號需固定母號 110-1~110-3</li>
											<li>連續母號需固定子號 110-1~112-1</li>
										</ul>
									</div>
									<div class="sectionRight">
										<ul>
											<li>等同110、110-1、110-2、110-3。</li>
											<li>等同110-1、111-1、112-1。</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="containerBox" v-if=true id="page">
								<div class="container">
									<div class="card-header">案件列表</div>
									<div class="card-body">
										<h5 class="card-title"></h5>
										<table id=ApplyTB>
											<tr id="ApplyTH">
												<th>序號</th>
												<th>地段</th>
												<th>地號</th>
												<th>部分</th>
												<th>操作</th>
											</tr>
											<!-- <tr class="ApplyTr">
										<td>01</td>
										<td>中山段一小段</td>
										<td>102220001</td>
										<td><input type="checkbox" name="" id="" checked></td>
										<td><button type="button" class="btn btn-danger trashCan" @click="listDelete"><i
													class="fa-solid fa-trash"></i></button></td>
									</tr> -->
										</table>
										<div class="ApplyMap">
											<img style="width:100%;height:auto;display: block;"
												src="./images/source/map.png" alt="" srcset="">
										</div>
									</div>
								</div>
							</div>
							<!-- <button type="button" class="btn btn-warning" @click="returnPage">返回</button>
						<a href="./apply-form.html"><button type="button"
								class="btn btn-primary NextStep">下一步</button></a> -->
						</section>
						<section class="ApplyMain mainSecond">

							<section class="main">
								<div class="row g-2">
									<div class="borderLeft">
										<div class="line"></div>
										<div class="mainText">申請人</div>
									</div>
									<section class="contentTextBox">
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">姓名</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入姓名">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">聯絡電話</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入電話">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-12 address">
											<div class="addressA">
												<div class="formTitle">地址</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入地址" v-on:keyup.enter="SendSearch =! SendSearch">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="row g-2">
									<div class="borderLeft">
										<div class="line"></div>
										<div class="mainText">建築師事務所</div>
									</div>
									<section class="contentTextBox">
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">抬頭</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入抬頭">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">聯絡電話</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入電話">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">建築師姓名</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入姓名">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">證書字號</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入字號">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-12 address">
											<div class="addressA">
												<div class="formTitle">地址</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入地址" v-on:keyup.enter="SendSearch =! SendSearch">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="row g-2">
									<div class="borderLeft">
										<div class="line"></div>
										<div class="mainText">代辦業者</div>
									</div>
									<section class="contentTextBox">
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">名稱</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入名稱">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">聯絡電話</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入電話">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-12 address">
											<div class="addressA">
												<div class="formTitle">地址</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入地址" v-on:keyup.enter="SendSearch =! SendSearch">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="row g-2">
									<div class="borderLeft">
										<div class="line"></div>
										<div class="mainText">申請事由&其他</div>
									</div>
									<section class="contentTextBox">
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">基地地點</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入地點">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-6 address">
											<div class="addressA">
												<div class="formTitle">申請事由</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入事由">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
										<div class="col-12 address">
											<div class="addressA">
												<div class="formTitle">備註</div>
												<div class="SearchBar">
													<input class="form-control" type="search" id="floatingInputGrid"
														placeholder="請輸入事項" v-on:keyup.enter="SendSearch =! SendSearch">
													<span class="input-group-append">
													</span>
												</div>
											</div>
										</div>
									</section>
								</div>
							</section>
						</section>
						<section class="ApplyMain mainThird">
							<table class="table">
								<!-- <thead style="border">
								<tr>
									<th scope="col" width="50px">順序</th>
									<th scope="col" text-align:left>附件名稱</th>
									<th scope="col" width="210px">上傳附件</th>
								</tr>
							</thead> -->
								<tbody>
									<tr>
										<td width="50px">1</td>
										<td>掛號申請書</td>
										<td width="210px">
											<input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>
									</tr>
									<tr>
										<td scope="row">2</td>
										<td>建築線指示(定)申請書</td>
										<td>
											<input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">3</td>
										<td>地籍圖謄本</td>
										<td>
											<input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">4</td>
										<td>使用分區證明</td>
										<td>
											<input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">5</td>
										<td>都市計畫書</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">6</td>
										<td>都市計畫樁位置</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">7</td>
										<td>紙本地籍套繪圖</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									<tr>
										<td scope="row">8</td>
										<td>電子地籍套繪圖</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">9</td>
										<td>現況實測圖</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">10</td>
										<td>現況照片</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">11</td>
										<td>建築線申請書圖</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">12</td>
										<td>地籍套繪圖</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">13</td>
										<td>現況計畫圖</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>

									</tr>
									<tr>
										<td scope="row">14</td>
										<td>其他與申請案有關之相關資料</td>
										<td><input class="form-control form-control-sm" id="formFileSm" type="file">
										</td>
									</tr>
								</tbody>
							</table>
							<div class="tip" id="ApplyBegin">
								<span>提醒：除建築線申請書圖，其餘附件均只能上傳一個檔案，<br>
									如多頁內容，請先行合併為一PDF檔案格式再上傳。
								</span>
							</div>
							<div class="inputSearch">
								<div class="form-box">
									<input class="form-check-input" type="checkbox" id="check1" name="option1"
										value="something">
									<label class="form-check-label">我同意本案上傳之書類文件及圖說等資料，與原核准案書圖相符，
										如有書圖不實上傳情形，願承擔一切法律相關責任。</label>
								</div>
							</div>
						</section>
						<section class="ApplyMain mainFourth">
							<div class="containerBox" v-if=true id="page">
								<div class="container">
									<div class="card-header">案件清單</div>
									<div class="card-body">
										<h5 class="card-title"></h5>
										<table id=ApplyList1>
											<tr id="ApplyTr1">
												<th>名稱</th>
												<th>內容</th>
											</tr>
											<tr class="ApplyTr2" v-for="(list,key) in landLists ">
												<td style="min-width: 150px;">{{list.title}}</td>
												<td>{{list.content}}</td>
											</tr>
										</table>
									</div>
								</div>
								<br>
								<div class="container">
									<div class="card-header">申請地號如下</div>
									<div class="card-body">
										<h5 class="card-title"></h5>
										<table id=ApplyList>
											<tr id="ApplyTr1">
												<th style="width:50px;text-Align:center; padding:0;">序號</th>
												<th>地段</th>
												<th>地號</th>
											</tr>
											<tr class="ApplyTr2" v-for="(list,key) in applyLand ">
												<td style="width:50px;text-Align:center; padding:0;">{{key+1}}
												</td>
												<td>{{list.title}}</td>
												<td>{{list.content}}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</section>
						<button type="button" class="btn btn-warning" @click="returnPage">返回</button>
						<a><button type="button" class="btn btn-warning LastStep" @click="LastPage">上一步</button></a>
						<a><button type="button" class="btn btn-primary NextStep">下一步</button></a>
					</form>
				</section>
			</section>
		</main>
		<footer>
		</footer>
	</section>
</body>
<script src="./vender/js/header.js"></script>
<script src="./vender/js/main.js"></script>
<script>
	// (function active() {
	// 	let pageAct = document.querySelector("#activeF");
	// 	pageAct.classList.add("-active");
	// 	let divCard = document.querySelectorAll("div.card");
	// 	let bigNum = document.querySelectorAll("p.bigNum");
	// 	let cardText = document.querySelectorAll("p.card-text");
	// 	for (let i = 0; i < 1; i++) {
	// 		bigNum[i].classList.remove("bigNum")
	// 		cardText[i].classList.remove("card-text");
	// 		bigNum[i].classList.toggle("active");
	// 		cardText[i].classList.toggle("activeT");
	// 		divCard[i].style = "background-Color:black"
	// 		divCard[i].style = "border-Color: #0B4873";
	// 	}
	// })()
	// console.log(pageAct);

	(function active() {
		let pageAct = document.querySelector("#activeF");
		pageAct.classList.add("-active");
	})()

	let nowStep = 1;
	function setActiveMenu(step) {
		let divCard = document.querySelectorAll("div.card");
		let i = 0;
		for (const card of divCard) {
			i++;
			//console.log(card.querySelectorAll("p.bigNum"))
			if (i <= step) {
				card.querySelectorAll("p.bigNum")[0].style = "font-weight: bolder;color:#0B4873";
				card.querySelectorAll("p.card-text")[0].style = "font-weight: bolder;color:#0B4873";
				card.style = "border-Color: #0B4873";
			}
		}
	}
	setActiveMenu(nowStep);
	let ApplyMain = document.querySelectorAll(".ApplyMain")
	let btnNext = document.querySelectorAll(".NextStep")
	let nowList = 0;
	btnNext[0].addEventListener("click", function () {
		nowStep += 1;
		nowList += 1

		for (let j = 0; j < ApplyMain.length; j++) {
			if (j == nowList) {
				ApplyMain[nowList].style = "display:block";
			} else {
				ApplyMain[j].style = "display:none"
			}
		}
		setActiveMenu(nowStep);
	})

</script>



</html>